*{
	/*outline: dotted 1px red;*/
}
body {
	font-family: Arial;
	font-size: 14px;
	color: #222;
}
img{
	display: block;
	width: 100%;
}
header{
	background: #333;
	padding:  10px;
	overflow: hidden;

}
header h1 {
	color: #FFF;
	float: left;
	font-size: 24px;
	font-weight: 700;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 60px;
	margin-top: 5px;
	margin-bottom: 5px; 
}
nav{
	float: right;
}
nav ul {

}

nav li {
	display: inline-block;
	text-decoration: none;
	color: #FFF;			
}
nav li a {
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 10px;
}
nav li a:hover {
	color: #333;
	background-color: #FFF;
}
#noticiasDestacadas img {
	width: 100%;
}
#noticiasDestacadas h2 {
	background-color: #333;
	color: #FFF;
	font-weight: 700;
	padding: 20px;
	font-size: 48px;
}

.noticia {
	
	display: flex;
	flex-direction: row; /*row / colum /row-reverse / colum-reserve */
	align-items: center; /* flex-start/ center /flex-end*/
	justify-content: space-around;/* flex-start/ center /flex-end/ space between/ space-around */ 


	border-bottom: solid 1px #DDD;
	/* 
	- version extenida :
	margin-top: 0:
	margin-bottom: o;
	margin-right: 20px
	margin-left: 20px;


	-version simplificada : (top/right/bottom/left)
	margin: 0 20 px 0 20px;
	*/
  	
  	margin: 0 20px; /* <-version reducida (y/x)*/

  	/* margin: 15px 20px 25px; <-- version mixta (top/x/bottom)*/
}
 .noticia:last-child{
 	border: none;
 }
.noticia-img {
	width: 30%;
}
.noticia-txt {
	width: 65%;
}
.noticia-txt h3 {
	font-size: 32px;
	font-weight: 700;
	
}
.noticia-txt p {
	font-size: 20px;
}
.noticia-txt p:nth-of-type(1){
	font-weight: 700;
}
.noticia-txt h3,
.noticia-txt p {
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 15px; 

}
footer {
	background-color: #333;
	padding: 10px;
	text-align: center;
	color: #FFF;
	font-size: 12px;
	margin-top: 10px;
}
/*
#tablaPosiciones table,
#tablaPosiciones tr,
#tablaPosiciones th,
#tablaPosiciones td {
	border: solid 1px #000;
}
*/
#tablaPosiciones table{
	margin: auto;
	width: 60%;
}

#tablaPosiciones td,
#tablaPosiciones th{
	padding: 15px;

}

#tablaPosiciones th{
	background-color: #FF0000;
	color: #FFFFFF;
	font-weight: 700%;
	font-size: 24px;

}
#tablaPosiciones td {
	background-color: #D9D9D9;
	vertical-align: middle;	

}
#tablaPosiciones tr {
	border-bottom: solid 1px #A1A1A1;
}
#tablaPosiciones tr:last-child {
	border: none;
}
#tablaPosiciones td:nth-of-type(odd) {
	font-weight: 700;
	text-align: center;
	font-size: 24px;

}
#tablaPosiciones  td:nth-of-type(even) span {
	font-weight: 700;
	color: darkblue;
}



