body {
	font-family: Arial;
	font-size: 14px;
	color: #222;
}
img{
	display: block;
}
header{
	background: #333;
	padding:  10px;
	overflow: hidden;

}
header h1 {
	color: #FFF;
	float: left;
	font-size: 24px;
	font-weight: 700;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 60px;
	margin-top: 5px;
	margin-bottom: 5px; 
}
nav{
	float: right;
}
nav ul {

}

nav li {
	display: inline-block;
	text-decoration: none;
	color: #FFF;			
}
nav li a {
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 10px;
}
nav li a:hover {
	color: #333;
	background-color: #FFF;
}
#noticiasDestacadas img {
	width: 100%;
}
#noticiasDestacadas h2 {
	background-color: #333;
	color: #FFF;
	font-weight: 700;
	padding: 20px;
	font-size: 48px;
}



